body
{
    background-color: #E8E8E8;
    font-family: 'Permanent Marker', cursive;
}

img
{
    width: 40%;
    height: auto;
}

.header-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("img/pattern.png");
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    filter:alpha(opacity=50);
}

.header-container span
{
    font-size: 3em;
    color:white;
    -webkit-text-stroke: 2px black;
}

.image-container
{
    display: flex;
    justify-content: space-evenly; /* align horizontal */
    align-items: center; /* align vertical */
    margin-bottom: 2em;
}

.text-container
{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.text-container span
{
    font-size: 3em;
    color: black;
    margin-right: 2em;
}

.fas
{
    display: none;
}